@use "../variables" as variables;

.navbar {
    &__block {
        display: block;
        height: 1.5rem;
    }

    &__container {
        background: var(--background-secondary);
        border-bottom: 1px solid rgba(255, 255, 255, 0.1);
        border-top: 1px solid rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(10px);
        z-index: 100;
    }

    &__content {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0rem 2rem;
        max-width: 1400px;
        margin: 0 auto;

        @media (max-width: variables.$breakpoint-sm) {
            padding: 0rem 1.5rem;
        }
    }

    &__brand {
        font-size: 1.5rem;
        transform: scale(1.5);
        font-weight: 400;
        font-family: variables.$font-pixel2;
        display: inline-block;
        transform-origin: left center;

        &:hover {
            color: var(--primary);
        }

        @media (max-width: variables.$breakpoint-sm) {
            font-size: 1rem;
        }
    }

    &__nav {
        display: flex;
        gap: 2rem;
        align-items: center;

        @media (max-width: variables.$breakpoint-sm) {
            gap: 1rem;
        }

        &-link {
            font-size: 1.5rem;
            font-weight: 400;
            padding: 0.5rem 0;

            &:hover {
                color: var(--primary);
            }

            @media (max-width: variables.$breakpoint-sm) {
                font-size: 0.9rem;
            }
        }
    }
}
