@use "sass:map";
// Add these imports at the top of your _variables.scss
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap");
@import url("https://fonts.googleapis.com/css2?family=VT323&display=swap");

// ============================
// Base SCSS tokens
// ============================
$light: (
    primary: #18773d,
    secondary: #004600,
    background: #ffffff,
    background-secondary: #eeeeee,
    text: #212121,
    text-secondary: #7f8c8d
);

$dark: (
    primary: #bee1c9,
    secondary: #68d391,
    background: #05090a,
    background-secondary: #0c1013,
    text: #ffffff,
    text-secondary: #8b949e
);

// ============================
// Mixin to export SCSS maps → CSS variables
// ============================

@mixin theme($map) {
    --primary: #{map.get($map, primary)};
    --secondary: #{map.get($map, secondary)};
    --background: #{map.get($map, background)};
    --background-secondary: #{map.get($map, background-secondary)};
    --text: #{map.get($map, text)};
    --text-secondary: #{map.get($map, text-secondary)};
}

// ============================
// Theme definitions
// ============================
:root {
    @include theme($dark);
}

[data-theme="light"] {
    @include theme($light);
}

// ============================
// FONT AND SPACING SETTINGS
// ============================
$font-size-xxlg: 22px;
$font-size-xlg: 20px;
$font-size-lg: 18px;
$font-size-base: 16px;
$font-size-md: 14px;
$font-size-sm: 12px;
$font-size-xs: 10px;

// Update your font variables
$font-primary: "Poppins", system-ui, sans-serif;
$font-monospace: "Monaco", "Menlo", "Ubuntu Mono", "Courier New", monospace;
$font-pixel: "Press Start 2P", "Monaco", "Menlo", monospace;
$font-pixel2: "VT323", monospace;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-bold: 600;

$line-height: 1.5;

$spacing-small: 0.5rem;
$spacing-medium: 1rem;
$spacing-large: 1.5rem;

// ============================
// COMMON FONT SETTINGS
// ============================
$font-synthesis: none;
$text-rendering: optimizeLegibility;
$font-smoothing: antialiased;
$moz-osx-font-smoothing: grayscale;

// ============================
// RESPONSIVE BREAKPOINTS
// ============================
$breakpoint-xs: 320px; // Extra small (Mobile)
$breakpoint-sm: 576px; // Small (Mobile, Landscape, Small Tablets)
$breakpoint-md: 768px; // Medium (Tablets)
$breakpoint-md2: 1024px; // Medium (Desktops, Laptops)
$breakpoint-lg: 1200px; // Large (Desktops, Laptops)
$breakpoint-xl: 1440px; // Extra Large (Large Desktops, Wide Screens)
$breakpoint-xxl: 1800px; // Ultra Large (Ultra-wide Desktops)
$breakpoint-4k: 2560px; // 4K Screens (Ultra-HD)
